

.auth-page-container { /* Sau .register-page-container dacă vrei specificitate */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); 
  padding: 20px;
  background-color: #e9ecef;
}